---
import NotFoundIcon from "src/icons/NotFoundIcon.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="404: Page Not Found">
  <div class="flex flex-col items-center gap-5">
    <NotFoundIcon />
    <div class="flex flex-col gap-1 text-center">
      <h1 class="text-2xl font-semibold text-slate-800 dark:text-slate-400">
        404: PAGE NOT FOUND
      </h1>
      <p class="text-md italic text-slate-700 dark:text-slate-500">
        You just hit a route that doesn't exist... the sadness.
      </p>
    </div>
  </div>
</Layout>
