---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import { basics } from "@cv";
import { TITLE_PAGE_PREFIX } from "../utils/constants";
const { summary } = basics;
---

<Layout title={`${TITLE_PAGE_PREFIX} About`}>
  <Section id="about" title="About me">
    <p class="text-md text-slate-700 dark:text-slate-300 text-pretty">
      {summary}
    </p>
  </Section>
</Layout>
