---
import Section from "../components/Section.astro";
import LinkedinIcon from "../icons/LinkedinIcon.astro";
import GithubIcon from "../icons/GithubIcon.astro";
import EmailIcon from "../icons/EmailIcon.astro";
import { basics } from "@cv";

const profiles = basics.profiles;
---

<Section id="contact" title="Contact">
  {
    profiles.map((profile: any) => {
      const getProfileIconFromName = (networkName: string): any => {
        switch (networkName) {
          case "Linkedin":
            return <LinkedinIcon />;
          case "Github":
            return <GithubIcon />;
          case "Email":
            return <EmailIcon />;
        }
      };
      return (
        <a
          href={profile.url}
          rel="noopener"
          target="_blank"
          class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-200 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700"
        >
          {getProfileIconFromName(profile.network)}
          {profile.network}
        </a>
      );
    })
  }
</Section>
