---
import Introduction from "./Introduction.astro";
import Layout from "../layouts/Layout.astro";
import About from "./About.astro";
import Work from "./Work.astro";
import Projects from "./Projects.astro";
---

<Layout title="David Gimeno">
  <main class="w-full max-w-4xl text-white mx-auto">
    <Introduction />
    <About />
    <Work />
    <Projects />
  </main>
</Layout>
