---
import Section from "../components/Section.astro";
---

<Section id="home">
  <h1 class="font-bold text-4xl text-slate-900 dark:text-slate-200">
    Hello there, I'm David
  </h1>
  <h2 class="text-xl text-slate-700 dark:text-slate-300 pt-6">
    I'm a software engineer based in Barcelona. I'm currently working at NTT
    Data as a Frontend Developer.
  </h2>
</Section>
