---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import Project from "../components/Project.astro";
import PageContainer from "../components/PageContainer.astro";
import Grid from "../components/Grid.astro";
import { TITLE_PAGE_PREFIX } from "../utils/constants";
import { projects } from "@cv";
---

<Layout
  title={`${TITLE_PAGE_PREFIX} Projects`}
  description="Explore David Gimeno's portfolio of web development projects, including interactive applications and creative solutions."
>
  <PageContainer type="wide">
    <Section id="projects" title="Projects">
      <Grid variant="projects" gap="lg">
        {
          projects.map(project => (
            <div class="flex flex-col w-full">
              <Project {...project} />
            </div>
          ))
        }
      </Grid>
    </Section>
  </PageContainer>
</Layout>
