---
import Section from "../components/Section.astro";
import Timeline from "../components/Timeline.astro";

import { work } from "@cv";

const workExperience = work.map((job) => {
  return {
    startDate: job.startDate,
    endDate: job.endDate,
    title: job.position,
    description: job.summary,
    link: job.url,
    company: job.company,
    highlights: job.highlights,
  };
});
---

<Section id="work" title="Work">
  <Timeline elements={workExperience} />
</Section>
