<footer class="bg-transparent">
  <div class="w-full mx-auto max-w-screen-xl p-6 text-center">
    <span class="text-xs text-gray-500 sm:text-center dark:text-gray-400"
      >© 2024 by David Gimeno. Proudly created with Astro.
    </span>
  </div>
</footer>
