<footer class="bg-transparent">
  <div class="w-full mx-auto max-w-screen-xl p-6 text-center">
    <span
      class="text-xs text-text-muted-light sm:text-center dark:text-text-muted-dark"
      >© 2024 by David Gimeno. Proudly created with Astro.
    </span>
  </div>
</footer>
