---
import { LAYOUT_CONSTANTS } from "../utils/constants";

interface Props {
  className?: string;
}

const { className = "" } = Astro.props;

const containerClasses = [
  "w-full",
  "h-screen",
  "flex",
  "items-center",
  "justify-center",
  LAYOUT_CONSTANTS.PADDING.HORIZONTAL.MOBILE,
  LAYOUT_CONSTANTS.PADDING.HORIZONTAL.SM,
  LAYOUT_CONSTANTS.PADDING.HORIZONTAL.LG,
  "overflow-hidden", // Prevent scroll
  className,
].join(" ");

const contentClasses = [
  LAYOUT_CONSTANTS.CONTENT_MAX_WIDTH.MEDIUM,
  "mx-auto",
  "h-full", // Use full height
  "flex",
  "items-center",
].join(" ");
---

<div class={containerClasses}>
  <div class={contentClasses}>
    <slot />
  </div>
</div>
