---
const { id, title } = Astro.props;
---

<section id={id} class="mx-4 my-8">
  {
    title && (
      <h2 class="text-slate-600 dark:text-slate-400 text-2xl font-semibold mb-4">
        {title}
      </h2>
    )
  }
  <slot />
</section>
